# npm
node_modules
package-lock.json
npm-shrinkwrap.json
*.log
*.gz

# Environment Variables (Sangat Penting!)
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

public/uploads/*
# Yarn
yarn-error.log
yarn.lock

# Coveralls
.nyc_output
coverage

# Benchmarking
benchmarks/graphs

# ignore additional files using core.excludesFile
# https://git-scm.com/docs/gitignore